name: three-triggers practice
run-name: ¡Implemento un ejercicio de triggers dentro de workflows de github Actions!

on:
  push:
    branches:
      - 'main'
  pull_request:
    types:
      - opened
      - labeled
      - sychronize
      - reopened
    branches:
      - 'main'
    paths:
      - '**.ts'
  issues:
    types:
      - opened
      - edited
      - closed
  issue_comment:
    types:
      - opened
      - deleted
  schedule:
    - cron: '30 17 * * *'
  workflow_dispatch:
    inputs:
      alerta:
        description: 'nivel'
        required: false
        default: medio
        type: choice
        options:
          - bajo
          - medio
  

jobs:
  three-triggers:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
  
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with: 
          node-version: '20'
  
      - name: Install ts-node
        run: npm install
  
      - name: Execute Typescript Script (ESM mode)
        run: npx ts-node --transpileOnly index.ts
        
  pr_commented:
    name: PR comment
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'issue_comment' && github.event.issue.pull_request}}

    steps:
      - name: Check comment event
        run: echo 'Comentario en un Pull request detectado. Ejecutando lógica'

  hola_mundo_manual:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      - uses: actions/checkout@v3
      - name: Definir nombre
        run: echo "USERNAME=${{ inputs.nombre }}" >> $GITHUB_ENV
      - name: Definir lenguaje
        run: echo "LANGUAGE=${{ inputs.lenguaje_favorito}}" >> ${GITHUB_ENV}
